<header>
    <h1>Void-Strike</h1>
    <p>Cyber Security Notes</p>
    <nav>
        <a href="/">Home</a>
        {% for cat in collections | getCategories %}
            <a href="/posts/{{ cat }}">{{ cat }}</a>
        {% endfor %}
    </nav>
</header>